/*css for mobile view*/

header,
body,
footer {
  margin: 1.25rem auto;
  max-width: 1000px;
  background-color: white;
  justify-content: center;
}
main {
    display: block;
    text-align: center;
  
}

section {
    border-style: solid;
    border-width: 1px;
    border-color:#204358;
    background-color:#204358; 
  } 

header {
  background-color: #204358;
  padding: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Nixie One", sans-serif;
  text-align: center;
  background-color: #204358;
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-family: "Raleway", serif;
  color:white;
  margin: 2em;
  text-align: left;
}

.intro {
    color:#204358;
}


img {
  width: 300px;
  height: auto;
 S}

.myname {
  font-size: 1em;
}

footer {
  font-size: 0.9em;
  padding: 1.5rem;
  text-align: center;
  background-color: #204358;
  color: white;
}

.subscript {
  font-size: 0.7em;
  padding: 0.5rem;
  text-align: center;
}

a {
  color: rgb(119, 163, 221);
  background-color: #204358;
}

a:visited {
  color: rgb(237, 248, 175);
}

a:hover {
  color: rgb(184, 47, 47);
}
