@media only screen and (min-width: 35rem) {
    #headerimg_small {
      width: 150px;
    }
  
    section.headings1 {
      font-size: 2rem;
      margin-top: 5rem;
    }

    div.herodiv {
   background-color: red;

 }
  
    img#ice_shack {
      float: right;
      padding: 0px 0px 20px 20px;
      width: 375px;
    }
  
    iframe {
      display: block;
    }
  
    div#mapdiv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
      text-align: left;
    }
  
    .smicon {
      width: 60px;
      padding: 5px;
    }
  }
  