/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav {
        width: 64rem;
        align-items: center;
        font-size: 1rem;
      }
      nav button {
        display: none;
        padding: 2em;
      }
    
      nav ul.hide {
        display: flex;
      }
      nav ul li {
        flex: 1 1 100%;
      }
      nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.6rem 1rem;
        text-align: center;
        
      }
      #index_gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 2rem;
        margin-top: 16rem;
        margin-bottom: 8rem;
        
      }

      #flare2 {
        margin-top: 10rem;
      }

      .textflare {
        font-size: 4rem;
      }

      img.index_left {
        width: 50%;
        
      }
      img.index_right {
        
        width: 100%;
       
        justify-items: end;
        align-content: end;
      }

      #pic1 {
      grid-column: 2/3;
      }
      #pic2 {
        grid-column: 2/3;
      }
      #pic3 {
      grid-column: 2/3;

    }

    img#closeqt {
     
      grid-row: 3;
      margin-top: 1.5rem;
    }

}