/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav {
        width: 64rem;
        align-items: center;
        font-size: 1rem;
      }
      nav button {
        display: none;
        padding: 2em;
      }
    
      nav ul.hide {
        display: flex;
      }
      nav ul li {
        flex: 1 1 100%;
      }
      nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: 0.6rem 1rem;
        text-align: center;
        
      }

}