@media only screen and (min-width: 35rem) {
  div#header_org {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
  }

  section.headings1 {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .headings2 {
    grid-column: 2/6;
    grid-row: 2/3;
    z-index: 1;
    text-align: left;
  }
  
h1.headertitle1 {
  margin: 0;
  margin-bottom: 1rem;
}

    div.three_day {
        display: block;
    }

    .heroimg {
      min-height: 300px;
      max-width: 100%
      
    }
    .weathersummary {
        left: 1.5rem;
        top: 1.5rem;
    }

/* table styling */
    tbody {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
      }
      
      table#forecast_table {
        width: 85%;
        padding-bottom: 2rem;
        padding-top: 2rem;
      }
      th,
      td {
        border: 1px solid black;
        text-align: center;
        color: white;
      }
    
      .color_table {
        background-color:#A2bf63;
      }
     
    td#dayofweek1 {
      padding: 1rem;
    }
    
    td#forecast1{
      padding: 1rem;
    }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
    
      h3.five_day_title {
        font-size: 1.5rem;
      }

      div#lion_div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-column-gap: 5rem;
        }

        #index_gallery {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          column-gap: 2rem;
          margin-bottom: 8rem;
          
        }

        .minigallary {        
          width: 100%;        
          justify-items: end;
          align-content: end;
        }

        #pic1 {
          grid-column: 2/3;
          }
          #pic2 {
            grid-column: 2/3;
          }
          #pic3 {
          grid-column: 2/3;
    
        }

        h2#flare1 {
          grid-column: 2/3;
          grid-row: 1;
          align-items: start;
        }
    
        img#lion {
            grid-column: 1/2;
            grid-row: 1/5;
            margin: 0;            
            width: 100%;
        }

        p#lion_text {
            grid-column: 2/3;
            grid-row: 2/5;
            margin-top: 10rem;
            padding-left: 2rem;
            font-size: 1.2rem;
           
        }

        img#openqt {

          grid-column:2/3;
          grid-row: 2;
          z-index: -1;
        }
        
        img#closeqt {
          grid-column: 2/3;
          grid-row: 4;
          justify-self: end;
         
          z-index: -1;
          
        }

       img.minigallary {
          
          width: 100%;         
          justify-items: end;
          align-content: end;
        }
        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr;        
        }

       .blockcards {
          display: block;               
      }

        #gridbut{
          display: block;
          width: 50px;
          padding-bottom: 1rem;
        }


        img.directory_logo {
        padding-bottom: 4rem;
         max-width:220px;
        }

        div.div_text {         
         height:35rem;   
        }
        div#mapdiv {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
          text-align: right;
          min-width: 35rem;
          max-width: 64rem;
          margin: 2rem auto;
        }
        iframe {
          display: block;
          width: 100%; 
          height: 100%;
          
        }

        section.farmer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          column-gap: 2rem;
          margin-bottom: 15rem;
          
        }

        .textflare {
          font-size: 3rem;
        }

        #flare3 {
          grid-column:2;
          margin-top: 8rem;
        }
        #tomatoes {
          grid-column: 1/2;
          grid-row: 1/5;
          margin: 1rem 0 0 0;       
          z-index: -1;
          
        }
        #market_info {
          grid-column: 2/3;
          grid-row:1;
          margin-top: 35%;
          text-align: right;
          font-size: 1.5rem;
        }
        
        div.bus_spotlight {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2em;
        }
      
        .sec1 {
          grid-column: 1/3;
          grid-row: 1;
        }
        .sec1 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
        }
        .sec2{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
        }

        .pleft{
          grid-column: 1/2;
          grid-row: 1;
        }
        .imgrt {
          grid-column: 2/3;
        }


        .sec3{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
        }
      
        .sec2 {
          grid-column: 1/3;
          grid-row: 2;
        }
        .sec3 {
          grid-column: 1/3;
          grid-row: 3;
        }
      
        h1 {
          font-size: 2.5em;
        }
        h2.spotlight {
          font-size: 1.5em;
        }
      
        .intro {
          grid-column: 1 / span 2;
        }

        
       }

  